
<div class="card" id="card">
    <div class="card-header">
      Título: {{idea.nombre}}
    </div>
    <div class="card-body">
      <p class="card-text">{{idea.descripcion}}</p>
    </div>
  </div>
  <br>
  <mat-card >
      <app-comentario-list></app-comentario-list>
  </mat-card>
  <div class="card-body">
    <form  id="search" class="form my-2 my-lg-2">
      <input class="form-control mr-sm-2"  type="text" maxlength="240" placeholder="Escribe un comentario" 
      matInput placeholder="Escribe tu comentario" [(ngModel)]="comentario.content"
      required name="nombre" #nombre>
   <!-- <input class="form-control mr-sm-2"  type="text" placeholder="Escribe un comentario" aria-label="Comentar">-->
    </form>
  </div>
  
  <div class="col-2">
    <button class="btn btn-danger my-2 my-sm-0" type="submit" [routerLink]="['/idea-show', id]" (click)="showComentarioOdds()">Comentar</button>
  </div>

 


  
  <!--<div class="card" id="comment">
      <div class="card-header">Usuario
      </div>
      <div class="form-group"><input type="text" placeholder="Escribe un comentario" class="form-control"></div>

      <section class="demo" *ngFor="let comentario of comentarios">
        <h4 style="color:black;">{{comentario.nombre}}</h4>
        <div class="a" style="color:black;">{{comentario.comentario}}</div>
      </section>
  </div>-->
