
<mat-card [style.backgroundColor]="'white'">

  <h2 style="color:#B40431;"><u>Desafios</u></h2>
  <mat-card-content class="row">
    <mat-list>
      <section class="demo" *ngFor="let desafio of desafios">     
        <h4 style="color:white;">{{desafio.nombre}}</h4> 
        <div class="a" style="color:white;">{{desafio.descripcion}}</div>
      </section>
    </mat-list>
  </mat-card-content>
  <button type="button" [routerLink]="['/desafio-save']" class="btn btn-danger">Danger</button>
</mat-card>



