<mat-card>
  <mat-card-header>Ideas</mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let idea of ideas">
        <h3 mat-line>{{idea.nombre}}</h3>
        <br> <h3 mat-line>{{idea.descripcion}}</h3>
        <h3 mat-line>
          <a mat-button [routerLink]="['/idea-edition', idea.id]">Editar Titulo</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button type="button" [routerLink]="['/idea-save']" class="btn btn-danger">Publicar Idea</button>
</mat-card>