.bg-light[_ngcontent-c1] {
    background-color: white !important;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

  .btn-outline-success {
    color: #dc3545;
    border-color: #dc3545;
}