.card{
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 80px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    background-color: #B40431;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 25%;
}
    
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-left: 43%;
}
    
p[_ngcontent-c2] {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 32%;
}
.h2, h2 {
    font-size: 2rem;
    margin-left: 19%;
}
